<p-table [value]="tableData" [scrollable]="true" scrollHeight="400px" [loading]="loading" (onLazyLoad)="getCats($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ '::CatTable:Name' | abpLocalization }}</th>
      <th>{{ '::CatTable:Age' | abpLocalization }}</th>
      <th>{{ '::CatTable:Breed' | abpLocalization }}</th>
      <th>{{ '::CatTable:Vaccinated' | abpLocalization }}</th>
      <th>{{ '::CatTable:CreatedAt' | abpLocalization }}</th> 
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-cat>
    <tr>
      <td>{{ cat.name }}</td>
      <td>{{ cat.age }}</td>
      <td>{{ getBreedName(cat.breed) }}</td>
      <td>{{ cat.isVaccinated }}</td>
      <td>{{ cat.creationTime | date:"short" }}</td>
      <td>
        <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="removeCat(cat.id)"></p-button>
        <p-button class="ms-2" icon="pi pi-pencil" [rounded]="true" severity="secondary" (click)="rowEdit($event, cat)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
