<p-table [value]="tableData" [loading]="loading" (onLazyLoad)="getCats($event)" 
    [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="width:15%">{{ '::CatTable:Name' | abpLocalization }} <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="age" style="width:10%">{{ '::CatTable:Age' | abpLocalization }} <p-sortIcon field="age"></p-sortIcon></th>
      <th pSortableColumn="breed" style="width:15%">{{ '::CatTable:Breed' | abpLocalization }} <p-sortIcon field="breed"></p-sortIcon></th>
      <th pSortableColumn="isVaccinated" style="width:20%">{{ '::CatTable:Vaccinated' | abpLocalization }} <p-sortIcon field="isVaccinated"></p-sortIcon></th>
      <th pSortableColumn="creationTime" style="width:20%">{{ '::CatTable:CreatedAt' | abpLocalization }} <p-sortIcon field="creationTime"></p-sortIcon></th> 
      <th style="width:20%"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-cat>
    <tr>
      <td>{{ cat.name }}</td>
      <td>{{ cat.age }}</td>
      <td>{{ getBreedName(cat.breed) }}</td>
      <td>{{ cat.isVaccinated }}</td>
      <td>{{ cat.creationTime | date:"short" }}</td>
      <td>
        <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="removeCat(cat.id)"></p-button>
        <p-button class="ms-2" icon="pi pi-pencil" [rounded]="true" severity="secondary" (click)="rowEdit($event, cat)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
