<p-overlayPanel #op>
    <ng-template pTemplate="content">
      <h4>{{ title }}</h4>
      <div class="mt-3">
        <p-floatLabel>
        <input id="name" type="text" pInputText [(ngModel)]="catDraft.name" />
        <label for="name">Name</label>
      </p-floatLabel>
      </div>
      <div class="mt-3">
        <p-floatLabel>
          <input id="age" type="number" pInputText [(ngModel)]="catDraft.age" />
          <label for="age">Age</label>
        </p-floatLabel>
      </div>
      <div class="mt-3">
        <p-dropdown [options]="breedOptions" [(ngModel)]="catDraft.breed"
         optionValue="value" optionLabel="name" [showClear]="true"
       [style]="{'width':'100%'}" placeholder="Select a breed">
      </p-dropdown>
      </div>
      <div class="mt-3">
        <label for="binary" class="me-2">Vaccinated</label>
        <p-checkbox [(ngModel)]="catDraft.isVaccinated" [binary]="true" inputId="binary"></p-checkbox>
    </div>
    <div class="mt-3 d-flex justify-content-end">
      <p-button icon="pi pi-times" severity="danger" (click)="cancelCatDraft()"></p-button>
      <p-button (click)="saveCatDraft()" class="ms-2" icon="pi pi-check"></p-button>
    </div>
    </ng-template>
</p-overlayPanel>
<p-toast></p-toast>
